<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tv.twentyonemedia.delinquo" >

    <uses-permission android:name="android.permission.INTERNET" />
r
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name="tv.twentyonemedia.delinquo.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="tv.twentyonemedia.delinquo.BrowserActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_browser"
            android:theme="@style/FullscreenTheme" >
        </activity>

        <activity
            android:name="tv.twentyonemedia.delinquo.BrowseActivity"
            android:label="@string/title_activity_browse" >
        </activity>
    </application>

</manifest>
